//
   Created by Niels Hviid Lund on 19-05-2017.


h2(style="color:red;") Add Your Score #{score}
#addScore
    fieldset
        input#inputName(type='text', placeholder='Name')
        br
        input#inputScore(type='text', placeholder='score', disabled=true, value='#{score}')
        br
        button(type='button', class='btn btn-primary' id='btnAddScore', onclick='addAscore()') Add Score

h3(style="color:red;") if you press 'Show Highscore' you can no longer sumit your highscore
button( id='showHighScore' class='btn btn-primary' onclick='ShowHighScore()') Show Highscore
