extends layout

block content
  h1= title
  p Welcome to #{title}

  #scoreList
    table(class='table table-striped')
      thead(class='thead-inverse')
        th name
        th score
        th Delete?
      tbody

  // ADD USER
  h2 Add Score
  #addScore
    fieldset
      input#inputName(type='text', placeholder='Name')
      br
      input#inputScore(type='text', placeholder='score')
      br
      button(type='button', class='btn btn-primary' id='btnAddScore') Add Score

  p
  #scoreInfoName

  button(type='button', class='btn btn-primary' id='btnPlayGame') Play Game
